.slider {
  display: flex;
  justify-content: center;

  &__scale {
    position: relative;
    background: white;
    width: 310px;
    height: 5px;
    border-radius: 10px;
  }
  
  &__thumb {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 10px;
    background: red;
    cursor: pointer;
  }

  &__mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(-50%);
    color: white;
    padding-top: 15px;
  }

  &__mark-line {
    width: 1px;
    height: 6px;
    background-color: white;
  }
}