.slider {
  display: flex;
  justify-content: center;
  position: relative;

  &__scale {
    position: absolute;
    background: white;
    width: 1000px;
    height: 5px;
    border-radius: 10px;
  }
  
  &__thumb {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 10px;
    background: red;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 15px;

    color: white;
    font-size: 13px;
  }

  &__mark-line {
    width: 1px;
    height: 6px;
    background-color: white;
  }

  &__mark-value {
    transform: translateX(-50%);
  }
}