.slider {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;

  &__scale {
    position: absolute;
    background: white;
    width: 1000px;
   
    border-radius: 10px;

    &_vertical {
      height: 100%;
      width: 5px;
    };

    &_horizontal {
      width: 100%;
      height: 5px;
    }
  }
  
  &__thumb {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2px;

    color: white;
    font-size: 13px;

    &::before {
      content: '';
      position: absolute;
      background-color: white;
    }

    &_vertical {
      left: -30px;
    }

    &_horizontal {
      top: 20px;

      &::before {
        top: -5px;
        width: 1px;
        height: 6px;
      }
    }
  }

  &__mark-value {
    display: inline-block;
    margin: 1px;

    &_horizontal {
      transform: translateX(-50%);
    }

    &_vertical {
      transform: translateY(-50%); 
    }
  }

  &__tip {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    padding: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;

    border-radius: 3px;
    border: 1px solid black;

    z-index: 5;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      background-color: transparent;
    }

    &_horizontal {
      transform: translateX(-50%);
      top: -40px;

      &::before {
        border: 10px solid transparent; 
        border-top: 10px solid white;
        top: 19px;
      }
    }

    &_vertical {
      left: 20px;
      padding-left: 5px;
      transform: translateY(-50%);
    }

      &::before {
        border: 10px solid transparent; 
        border-right: 10px solid white;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
      }
  }

  &__progress {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
  }
}