include ./slider.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Slider
    link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
    link(rel='manifest' href='./favicon/site.webmanifest')
    link(rel='mask-icon' href='./favicon/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='theme-color' content='#ffffff')
  body.page
    main.page__main.main
      .main__container 
        .main__sliders
          .main__slider.js-main__slider
            .main__slider-indicator.js-main__slider-indicator
            +slider({
              min: 0,
              max: 100,
              step: 20,
              from: 0,
              marks: true,
            })

          //- .main__slider.js-main__slider
          //-   .main__slider-indicator.js-main__slider-indicator
          //-   +slider({
          //-     min: 0,
          //-     max: 1000000,
          //-     step: 1,
          //-     from: 0,
          //-     vertical: true,
          //-   })
          //- .main__slider.js-main__slider
          //-   .main__slider-indicator.js-main__slider-indicator
          //-   +slider({
          //-     min: 20,
          //-     max: 400,
          //-     step: 33,
          //-     from: 13,
          //-     tip: true,
          //-     progress: true,
          //-   })
          //- .main__slider.js-main__slider
          //-   .main__slider-indicator.js-main__slider-indicator
          //-   +slider({
          //-     min: 20,
          //-     max: 500,
          //-     step: 33,
          //-     from: 25,
          //-     tip: true,
          //-     vertical: true,
          //-     progress: true,
          //-   })

          //- .main__slider.js-main__slider
          //-   .main__slider-indicator.js-main__slider-indicator
          //-   +slider({
          //-     min: 0,
          //-     max: 100,
          //-     step: 1,
          //-     from: 10,
          //-     to: 90,
          //-     range: true,
          //-     tip: true,
          //-     marks: true,
          //-     gap: 5,
          //-     progress: true,
          //-   })
          //- .main__slider.js-main__slider
          //-   .main__slider-indicator.js-main__slider-indicator
          //-   +slider({
          //-     min: 0,
          //-     max: 100,
          //-     step: 1,
          //-     from: 10,
          //-     to: 90,
          //-     range: true,
          //-     tip: true,
          //-     marks: true,
          //-     gap: 5,
          //-     progress: true,
          //-     vertical: true,
          //-   })