include ./slider.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Slider
  body.page
    main.page__main.main
      .main__container 
        .main__sliders
          .main__slider
            +slider({
              min: 0,
              max: 1000,
              step: 1,
              from: 25,
            })
          .main__slider
            +slider({
              min: 0,
              max: 100,
              step: 1,
              from: 25,
              vertical: true,
            })
          .main__slider
            +slider({
              min: -100,
              max: 100,
              step: 1,
              from: 25,
              progress: true,
            })
          .main__slider
            +slider({
              min: -100,
              max: 100,
              step: 1,
              from: 25,
              progress: true,
              vertical: true,
            })
          .main__slider
            +slider({
              min: 20,
              max: 400,
              step: 33,
              from: 13,
              tip: true,
            })
          .main__slider
            +slider({
              min: 20,
              max: 500,
              step: 33,
              from: 25,
              tip: true,
              vertical: true,
            })
          .main__slider
            +slider({
              min: 0,
              max: 1000,
              step: 10,
              from: 10,
              to: 900,
              range: true,
              progress: true,
            })
          .main__slider
            +slider({
              min: 0,
              max: 1000,
              step: 10,
              from: 10,
              to: 900,
              range: true,
              vertical: true,
              progress: true, 
            })

          .main__slider
            +slider({
              min: 0,
              max: 100,
              step: 1,
              from: 10,
              to: 90,
              range: true,
              tip: true,
              marks: true,
              gap: 5,
              progress: true,
            })
          .main__slider
            +slider({
              min: 0,
              max: 100,
              step: 1,
              from: 10,
              to: 90,
              range: true,
              tip: true,
              marks: true,
              gap: 5,
              progress: true,
              vertical: true,
            })