mixin slider(options = {})
  -
    const {
      min = 0,
      max = 10,
      step = 1,
      from = 0,
      to = 0,
      gap = 1,
      marks = false,
      tip = false,
      range = false,
      progress = false,
      vertical = false, 
    } = options

  .slider
    .slider__content 
    .slider__nav
      form(action="POST", method="get").slider__form
        label.slider__label
          span.slider__descr min:
          input(
            type = 'number',
            value = min,
            data-role = 'min',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr max:
          input(
            type = 'number',
            value = max,
            data-role = 'max',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr step:
          input(
            type = 'number',
            value = step,
            min = 1,
            data-role = 'step',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr from:
          input(
            type = 'number',
            value = from,
            data-role = 'from',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr to:
          input(
            type = 'number',
            value = to,
            disabled = !range,
            data-role = 'to',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr marks:
          input(
            type = 'checkbox',
            checked = marks,
            data-role = 'marks',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr marks gap:
          input(
            type = 'number',
            value = gap,
            min = 1,
            data-role = 'gap',
            class = 'slider__input',
            disabled = !marks,
          ) 
        label.slider__label
          span.slider__descr tip:
          input(
            type = 'checkbox',
            checked = tip,
            data-role = 'tip',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr range:
          input(
            type = 'checkbox',
            checked = range,
            data-role = 'range',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr progress:
          input(
            type = 'checkbox',
            checked = progress,
            data-role = 'progress',
            class = 'slider__input',
          ) 
        label.slider__label
          span.slider__descr vertical:
          input(
            type = 'checkbox',
            checked = vertical,
            data-role = 'vertical',
            class = 'slider__input',
          )