.page {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  min-height: 100vh;
}


.main {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  color: white;

  &__sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__slider {
    display: flex;
    gap: 5px;
    padding: 20px;

    border: 1px solid rgba(195, 0, 255, 0.904);
    border-radius: 4px;
  }
}

.slider {
  display: flex;
  gap: 5px;
  width: 100%;

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #0f0c29;
    padding: 5px;
    border-radius: 4px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2px;
  }
}