.page {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  color: white;

  &__sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__slider {
    display: flex;
    gap: 5px;
    padding: 20px;

    border: 1px solid rgba(195, 0, 255, 0.904);
    border-radius: 4px;
  }

  &__slider-indicator {
    width: 45px;
    height: 10px;
    background: white;
    border: 1px solid red;
    border-radius: 20px;

    &_active {
      background: red;
      box-shadow: 0 0 12px white;
    }
  }
}

.slider {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  align-items: center;
  width: 100%;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-rows: 375px auto;
    gap: 50px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100%;
  }

  &__nav {
    max-width: 350px;
    justify-self: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #0f0c29;
    padding: 5px;
    border-radius: 4px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2px;
    pointer-events: none;
  }

  &__description,
  &__input {
    pointer-events: auto;
    cursor: pointer;
  }
}
