.plugin-slider {
  &__mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2px;

    color: white;
    font-size: 13px;

    &:hover {
      text-shadow: 1px 1px 2px rgb(129, 0, 0);
    }

    &::before {
      content: '';
      position: absolute;
      background-color: white;
    }

    &_vertical {
      left: 25px;
    }

    &_horizontal {
      top: 20px;

      &::before {
        top: -5px;
        width: 1px;
        height: 6px;
      }
    }

    &_hidden {
      visibility: hidden;
    }
  }

  &__mark-value {
    display: inline-block;
    margin: 1px;

    &_horizontal {
      transform: translateX(-50%);
    }

    &_vertical {
      transform: translateY(-50%);
    }
  }
}
