.page {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  min-height: 100vh;

  &__slider {
    width: 700px;
    height: 350px;
    border: 1px solid red;
  }
}